<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<a href='/auth/twitter' class="
  inline-flex 
  items-center
  btn
  bg-twitter
">
  <%= image_tag "/img/Twitter_Logo_WhiteOnBlue.png", :width => "25px" %>
  登録/ログイン
</a>
