<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<a href='/auth/twitter' type="button" class="
  inline-flex 
  items-center
  px-4
  py-2
  rounded-md
  text-white
  bg-twitter
">
  <%= image_tag "/img/Twitter_Logo_WhiteOnBlue.png", :width => "25px" %>
  登録/ログイン
</a>

