<a href='/auth/twitter' class="group relative w-full flex justify-center py-2 px-4 border border-transparent rounded-md text-white bg-twitter">
  <span class="absolute left-0 inset-y-0 flex items-center pl-3">
    <%= image_tag "/img/Twitter_Logo_WhiteOnBlue.png", :width => "25px" %>
  </span>
  登録/ログイン
</a>
