.wf-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }

.btn {
  @apply px-4 py-2 rounded-md text-white
}

.card {
  @apply shadow p-4 rounded-lg bg-white break-words
}

.gray-link {
  @apply text-sm text-gray-500
}

.white-border {
  @apply border-white border-8 border-solid rounded-lg shadow-xl
}

.bg-twitter {
  background-color:#1DA1F2;
}

/* リストの中のリンクをいっぱいに広げる */
li a { display: block; }

.transform-center {
  transform: translate(-50%, -50%);
}
