<div class="mt-4">
  <div class="text-center">
    <%= link_to "しあわせを記録する",
      new_happiness_card_path,
      class: "btn bg-pink-400"
    %>
  </div>
  <% @happiness_cards.each do |happiness_card| %>
    <div class="card mt-4">
      <p class="text-sm text-gray-500"><%= l(happiness_card.created_at) %>
      <p class="mt-4"><%= hbr(happiness_card.message) %></p>
    </div>
  <% end %>
</div>
