<div data-controller="happiness-card">
  <div class="mt-8"></div>
  <div class="text-center">
    <%= link_to "しあわせを記録する",
      new_happiness_card_path,
      class: "btn bg-pink-400"
    %>
  </div>
  <% @happiness_cards.each_with_index do |happiness_card, i| %>
    <div class="card mt-4" data-action="click->happiness-card#swithCardBodyVisible">
      <p class="text-sm text-gray-500"><%= l(happiness_card.created_at) %>
      <div class="relative">
        <p class="mt-4 invisible" data-card-body><%= hbr(happiness_card.message) %></p>
        <% if i == 0 %>
          <p class="text-gray-500 absolute top-2/4 left-2/4 transform-center" data-card-tap>タップで表示</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
