<% @happiness_cards.each do |happiness_card| %>
  <div class="
    shadow
    w-full
    my-4
    p-3
    rounded-md
    border
    border-gray-300
  ">
    <p><%= happiness_card.message %></p>
    <p class="mt-4 text-sm text-gray-500"><%= l(happiness_card.created_at) %>
  </div>
<% end %>
