<%= form_with model: @happiness_card do |f| %>
  <div>
    <%= f.text_area :message, class:
      '
      p-3
      w-full
      border
      border-gray-300
      rounded-md
      ',
      maxlength: "100",
      rows: 5 # mash
    %>
  </div>

  <div class='text-center'>
    <button type="submit" class="btn bg-pink-400">
      記録する
    </button>
  </div>
<% end %>